$heading-font-family: "Bellota", serif
$body-font-family: "Bellota Text", sans-serif

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(76)
// $header-logo-height: pxToRem(100)
$hero-background-color: none
$footer-background-color: none