$font-bellota: "Bellota", serif
$font-bellota-text: "Bellota Text", sans-serif

$heading-font-family: $font-bellota-text
$body-font-family: $font-bellota-text

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: pxToRem(76)
// $header-logo-height: pxToRem(100)
$hero-background-color: none
$footer-background-color: none